    *{
        margin:0;
        padding:0;
    }
    a {
        color: #e0e0e0;
        font-size: 16px;
        margin-left: 50px;
        padding: 20px 0px;
        transition: all 0.2s ease-in;
        cursor: pointer;
    }
    a:hover{
        color: white;
    }
    .ui.modal{
        height:auto !important;
    }
    .container{
        height: auto;
        position: relative;
        padding: 0px;
        margin-left: 200px;
        margin-top: -170px;
    }
    .close.icon{
      margin-top: -180px;
      margin-right: 170px;
    }
    .culnmn{
        padding: 30px 120px 30px 120px;
        width: 500px;
    }
    .ui.secondary.menu{
        margin: 15px 0px 0px 0px;
    }
    .ui.grey.header {
        margin-top: 0px;
        margin-bottom: 50px;
        font-size: 2.5rem
    }
    #app {
        width: 100%;
        height: calc(100vh - 100px);
    }
    #menu {
        margin: 0px !important;
        position: absolute;
        height: 100px;
        width: 100%;
        top: 0px;
        z-index: 5;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
    }
    .menu_show{
        height: 100px !important;
        background-color: #f9f9f9 !important;
        position: fixed !important;
        border-bottom: 1px solid #c8c8c8 !important;
    }
    .menu_show_font{
        color: #1b1b1b;
    }
    #mainmn{
        margin-left: 70px;
    }
    #submn{
        position: absolute;
        right: 70px;
    }
    #menu li {
        float: left;
        list-style: none;
        line-height: 100px;
    }
    .submitButton {
        margin-top: 40px;
    }
    .signButton {
        margin-top: 15px;
        width: 100%;
    }
    #subdiv {
        margin-top: 30px;
    }
    #subh {
        margin-bottom: 30px;
    }
    #loginbtn {
        margin-bottom: 20px;
        background-color: rgb(134, 82, 33);
        color: white;
    }
    #formgrid {
        padding: 0;
    }
    #topbtn {
        width: 200px;
        margin: 20px 0px 30px 0px;
    }
    .subtile {
        margin-top: 10px
    }
    #subpass {
        margin: 0;
    }
    .ui.grey.header {
        margin-top: 10px;
    }
    .ui.center.aligned.header{
        margin: 70px;
    }
    .ui.grid{
        justify-content: center;
    }
    .ui.button.black.signButton{
      margin: 0px;
    }
    .ui.two.column.centered.grid{
      position: absolute;
    }
