/*8dc7a3*/
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(250,250,250);
  height: auto;

}
#menu{
  background-color: white;
}
#problems{
    margin-top: 100px;
}
.container {
  padding: 70px 130px 0px 130px;
    width: 100%;
    height: 100vh;
}
.container{
  margin-top: 20px;
  display: block;
  position: relative;
}
.ui.center.aligned.header{
  margin-bottom: 60px;
}
.item{
  padding: 10px;
}
#item:hover{
  border: 2px solid #8dc7a3;
  border-bottom: none;
}
