doctype html
html
  head
    title= title
  body
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
    #app
    script(src='/javascripts/build.js')
